<h2 class="page-header" ><%=book.title%></h2>
<img width="100" height="150" src="<%=book.coverImagePath%>" >
<div><b>Author:</b><%=book.author.name%></div>
<div><b>Publish Date: </b><%=book.publishDate.toDateString()%></div>
<div><b>Page Count:</b><%=book.pageCount%></div>
<div><b>Description:</b><%=book.pageCount%></div>
<a href="/books/<%=book.id%>/Edit">Edit</a>
<%-include('../partials/deleteForm',{url:`/books/${book.id}`})%>
<a href="/authors/<%=book.author.id%>">View Author</a>